{% extends 'header.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-1  ">
    <div class="row d-flex justify-content-center align-items-center h-1">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Paste ID</th>
            <th scope="col">Last modified</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          {% for paste in pastes %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <th scope="row">{{ paste.name }}</th>
            <td><a class="nav-link" href="/raw/{{ paste.paste_id }}">{{ paste.paste_id }}</a></td>
            <td scope="row"> {{ paste.datetime }}</td>
            {% if paste.private %}
            <td><span class="badge bg-primary"> Private</span></td>
            {% else %}
            <td><span class="badge bg-dark"> Public </span></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}